build/*.aux
build/*.log
build/*.out
build/*.toc
build/*.fls
build/*.fdb_latexmk
build/*.synctex.gz
build/*.bbl
build/*.bcf
build/*.blg
build/*.run.xml
build/*.nav
build/*.snm
build/*.vrb

.DS_Store
*.swp
*.tmp
